<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2026 Tayler (montes8). Todos los derechos reservados.
  ~ Este código es propiedad exclusiva de su autor. Queda prohibida su
  ~ copia, distribución o uso sin autorización previa.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

</manifest>
